@page "/manage-entry"
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<Resource> LRes

<div class="container-fluid">
    <CommonLabel DisplayText="@LRes["EntryList"]" Color="primary"></CommonLabel>
</div>
@code {

}
