<h3><span class=@("border-start border-5 me-2 border-" + Color)></span> @DisplayText</h3>

@code {
    [Parameter]
    public string DisplayText { get; set; }

    [Parameter]
    public string Color { get; set; }
}
