@page "/"
@inject IHttpContextAccessor HttpContext
<PageTitle>Index</PageTitle>

<div class="text-center">
    <h1>Hello, world!</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />
</div>

@code{
    protected override void OnInitialized()
    {
        var user = HttpContext.HttpContext.User;
    }
}